:root {
	--font1 : 'Pacifico', cursive;
	--font2 : 'Baloo Bhai 2', cursive;
}
.max-width1{
	max-width: 80vw;
}
.max-width2{
	max-width: 60vw;
}
.m-auto{
	margin: auto;
}
.btn{
	background-color: #936c6c;
	color:white;
	padding: 2px 4px;
	border-radius: 4px;
	margin-right: 25px;
	justify-content: center;
	border:2px solid #936c6c;
	/*margin : auto;*/
}
.btn:hover{
	background-color: #6A397A ;
	color: grey;

}